/* .sub-categories{
    display: none;
} */

.main-category a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* .main-category a::after,
.sub-category a::after {
    content: "\f105";
    font-family: "FontAwesome";
    align-items: end;
} */


.sub-categories {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    display: none;
    background-color: #eeeeee;
    border-left: 2px solid #e0e0e0;
    padding: 10px;
}

.main-category:hover .sub-categories {
    display: block;
}

.sub-category:hover .sub-sub-categories {
    display: block;
}

.sub-sub-categories {
    position: absolute;
    top: 0;
    left: 95%;
    height: 100%;
    display: none;
    background-color: #eeeeee;
    border-left: 2px solid #e0e0e0;
    padding: 10px;
}




 .product-image {
   height: 325px !important; /* Set a fixed height for the images */
    width: 100%; /* Ensure the images fill their containers */
    object-fit: cover; /* Resize the image while maintaining aspect ratio */
}


.banner-section2 {
	padding: 0px 50px;
}


.fa {
    color: #7D9B3C;
}


.marquee-class {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee-item {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    /* padding-right: 100px;  */
    width: 100%;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.header-top2 {
    background: #7D9B3C;
}


.items-section2 {
    padding: 65px 120px;
}


.pagination .page-link {
    color: #7D9B3C;
}

.pagination .page-item.active .page-link {
    background-color: #7D9B3C;
    border-color: #7D9B3C;
}

.pagination .page-link:hover {
    color: white;
    background-color: #7D9B3C;
    border-color: #7D9B3C;
}

.smaller-image {
    width: 225px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
}

@media (max-width: 767px) {
    .smaller-image {
        max-width: 250px; /* Adjust the maximum width as needed */
        display: block;
        margin: 0 auto; /* Center align the image */
    }
    .faq-img{
        display: none;
    }
    .header-top .ht-right .top-social {
        padding-right: 95px;
    }
}



#autocomplete-results {
    position: absolute;
    top: 47%;
    z-index: 41;
    background-color: #fff;
    max-height: 350px;
    overflow-y: auto;
    width: 92%;
}


.suggestion {
    margin-top: 18px; /* Adjust as needed */
    margin-left: 5px;
    cursor: pointer; /* Change cursor to pointer on hover */

}



.btn-store {
    color: #777777;
    background-color:white;
    min-width: 240px;
    padding: 12px 20px !important;
    border-color: #dddddd !important;
  }

  .btn-store:focus,
  .btn-store:hover {
    color: #ffffff !important;
    background-color: #7D9B3C;
    border-color: #7D9B3C !important;
  }

  .btn-store:focus .fa,
    .btn-store:hover .fa {
        color: #ffffff !important;
    }


  .btn-store .btn-label,
  .btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
  }

  .btn-store .btn-caption {
    font-size: 24px;
  }


.policy-link {
      cursor: pointer;
  }

.policy-link:hover {
      cursor: pointer;
  }
